
.Rproj.user
.Rhistory
.Rhistory
0_raw/*
0_raw.zip
0_Other/blast/rawtest/testdb.nhr
0_Other/blast/rawtest/testdb.nsq
0_da_test/*
1_trimmed/*
12_bowtie/test1/0_raw/*
12_bowtie/test1/1_trimmed/*
12_bowtie/test1/3_sam/*
12_bowtie/test1/3_sam_paired/*
12_bowtie/ref_genomes/tests/*.fasta
12_bowtie/ref_genomes/fastas/*
12_bowtie/test/3_sam_paired/*
0_Other/standard-RAxML-master
12_bowtie/test2/0_raw/*
12_bowtie/test2/1_trimmed/*
12_bowtie/test2/3_sam_paired/*
